<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Map</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        
       


        <div class="container">
            <h1 class="mt-5">mapa</h1>  
            <img th:src="@{/img/mapa.jpg}" src="/img/parkit-dark4.webp" alt="mapa" class="d-inline-block align-text-top w-75 h-75">
        </div>
        
        <!-- zona de admin -->
        <div class="container">
            <a class="nav-link" th:if="${u.hasRole('ADMIN')}" th:href="@{/admin/}">
                <button type="button" class="btn btn-outline-primary">
                    boton admin   
                </button>


            </a>
            <!-- zona de usuario normal -->
            <a class="nav-link" th:unless="${u.hasRole('ADMIN')}" th:href="@{/admin/}">
                <button type="button" class="btn btn-outline-primary">
                    boton user   
                   </button>







            </a>        
        </div>
    </main>


    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>