<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Map</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <!--<main class="flex-shrink-0">
        <div th:replace="/fragments/findPark"></div>

        <div class="container">
            <button type="button" class="btn btn-lg btn-outline-dark mb-3 w-50">Buscar</button>
            <img class="img-fluid mb-5 h-100 w-100" src="/img/mapa.jpg" alt="map">
        </div>
    </main>-->

    <div th:replace="/fragments/findPark"></div>

    <div class="container">

        <div class="row">
            
        </div>




        <button type="button" class="btn btn-lg btn-outline-dark mb-3 w-50">Buscar</button>
        <img class="img-fluid mb-5 h-100 w-100" src="/img/mapa.jpg" alt="map">
    </div>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

</body>

</html>

<!-- zona de admin -->
<!--<div class="container">
            <a class="nav-link" th:if="${u.hasRole('ADMIN')}" th:href="@{/admin/}">
                <button type="button" class="btn btn-outline-primary">
                    boton admin   
                </button>


            </a> -->
<!-- zona de usuario normal -->
<!--<a class="nav-link" th:unless="${u.hasRole('ADMIN')}" th:href="@{/admin/}">
                <button type="button" class="btn btn-outline-primary">
                    boton user   
                   </button>

            </a>        
        </div> -->