<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head.html :: header}"></th:block>
    <title>Enterprise Information</title>
</head>
<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <main class="container text-center">
        <h1 class="m-3">Información Empresa</h1>
    </main>
    <div class="containers d-flex justify-content-center">
        <div th:replace="~{fragments/users-card.html :: users-card}">
        </div>
        <!--Lo hemos sacado de bootstrap-->
        <div class="card shadow border-0 rounded-4 mb-5 mt-4 col col-5 ">
            <div class="card-body p-4">
                <ul class="list-group mt-3">
                    <li class="list-group-item active text-center" aria-current="true"> Información de <span th:text="${user.name}"> NombreEmpresa</span></li>

                    <li class="list-group-item">Numero de Parkings: <span th:text="${user.totalParkings}"> numParkings</span> </li>
                    <li class="list-group-item">Peticiones pendientes: <span th:text="${user.pendingRequests}"> peticiones pendientes</span> </li>
                    <li class="list-group-item">Número de plazas: <span th:text="${user.totalSpots}"> numero plazas de la empresa</span> </li>
                    <li class="list-group-item">Saldo: <span th:text="${user.wallet}"> Saldo de la empresa</span> </li>
                </ul>          
            </div>
        </div>    
    
    </div>

<script th:src="@{/js/ajax-demo.js}"></script>
</body>

<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</html>