<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Mis Reservas</title>
</head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/nav.html :: nav}"></header>
        <div class="container-fluid row p-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Localización</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservas : ${reservas}">
                    <td><a class="nav-link" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" th:text="${reservas.direccion}">Ubicacion</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" th:text="${reservas.fechaIni}">Fecha Inicio</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" th:text="${reservas.fechaFin}">Fecha Final</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" th:text="${reservas.horaIni}">Hora Inicio</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" th:text="${reservas.horaFin}">Hora Final</a></td>
                    <td id="fila1"><a class="btn btn-primary m-1" th:href="@{/user/modify-reserve}" href="/user/modify-reserve" >Modificar</a><a class="btn btn-danger m-1" th:href="@{/user/my-reserves}" href="/user/my-reserves" >Eliminar</a></td>
                </tr> 
            </table>
        </div>
        <footer th:replace="~{fragments/footer::footer}"></footer>
    </body>
</html>