<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" >
    <title>Reservar Plaza</title>
</head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/nav.html :: nav}"></header>
        <div class="container-fluid row p-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Localización</th>
                    <th>Plazas libres</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservas : ${reservas}">
                    <td><a class="nav-link" th:href="@{/user/reserve}" href="/user/reserve" th:text="${reservas.key}">Ubicacion</a></td>
                    <td id="fila1"><a class="nav-link" th:href="@{/user/reserve}" href="/user/reserve" th:text="${reservas.value}">Disponibilida</a></td>
                    <td><!-- poner que la col ocupe mucho menos -->
                        <a class="nav-link" th:href="@{/user/reserve}" href="/user/reserve">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                        </a>
                    </td>
                </tr> 
            </table>
        </div>
        <footer th:replace="~{fragments/footer::footer}"></footer>
    </body>
</html>