<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <th:block th:replace="~{fragments/leaflet.html :: head}" />
    <title>Add Parkings</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container-fluid row p-5">
        <div class="accordion" id="parkingAccordion">
            <div th:each="request : ${requests}" class="accordion-item">
                <h2 class="accordion-header" th:id="'heading-' + ${request.id}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        th:data-bs-target="'#collapse-' + ${request.id}" aria-expanded="false"
                        th:aria-controls="'collapse-' + ${request.id}">
                        <p>
                            <span th:text="${request.enterprise.name}">Nombre de la empresa</span><br />
                            <span th:text="${request.name}">Nombre</span>
                        </p>
                    </button>
                </h2>
                <div th:id="'collapse-' + ${request.id}" class="accordion-collapse collapse"
                    th:aria-labelledby="'heading-' + ${request.id}" data-bs-parent="#parkingAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <!-- Columna del mapa -->
                            <div class="col-md-6 mapa-reserva map-container"
                                    th:data-address="${request.address} + ', ' + ${request.city} + ', ' + ${request.country}" 
                                    th:id="'mapa-' + ${request.id}">
                            </div>
                            
                            <!-- Columna de la información -->
                            <div class="col-md-6">
                                <div class="card p-3">
                                    <div class="card-text">
                                        <p><strong>Nombre:</strong> <span th:text="${request.name}">Nombre</span></p>
                                        <p><strong>Dirección:</strong> <span th:text="${request.address}">Dirección</span></p>
                                        <p><strong>Código Postal:</strong> <span th:text="${request.cp}">Código Postal</span></p>
                                        <p><strong>Ciudad:</strong> <span th:text="${request.city}">Ciudad</span></p>
                                        <p><strong>País:</strong> <span th:text="${request.country}">País</span></p>
                                        <p><strong>Teléfono:</strong> <span th:text="${request.telephone}">Teléfono</span></p>
                                        <p><strong>Fecha de apertura:</strong> <span th:text="${request.openingTime}">Fecha de apertura</span></p>
                                        <p><strong>Fecha de cierre:</strong> <span th:text="${request.closingTime}">Fecha de cierre</span></p>
                                        <p><strong>Precio/h:</strong> <span th:text="${request.feePerHour}">Precio/h</span></p>
                                        <div class="error"
                                          th:id="'error-' + ${request.id}">
                                        </div>
                                        <div>
                                            <a class="btn btn-primary m-1" onclick="guardarParking(this)" th:data-id="${request.id}">Aceptar</a>
                                            <a class="btn btn-danger m-1" onclick="eliminarRequest(this)" th:data-id="${request.id}">Rechazar</a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script>
      function guardarParking(button) {
        let id = button.getAttribute("data-id");

        fetch("/admin/guardarParking/" + id, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            if (response.ok) {
              let successMessage = document.createElement("div");
              successMessage.className = "alert alert-success";
              successMessage.textContent = "Parking guardado con éxito";
              let container = document.querySelector(
                "header + .container-fluid"
              );
              container.prepend(successMessage);

              setTimeout(() => {
                successMessage.remove();
              }, 3000);

              let accordionItem = button.closest(".accordion-item");
              if (accordionItem) {
                accordionItem.remove();
              }
            } else {
              response.text().then((errorMessage) => {
                let error = document.createElement("div");
                error.className = "alert alert-danger";
                error.textContent =
                  "Error al guardar el parking: " + errorMessage;
                let container = document.querySelector(
                  "header + .container-fluid"
                );
                container.prepend(error);

                setTimeout(() => {
                  error.remove();
                }, 3000);
              });
            }
          })
          .catch((error) => {
            console.error("Error al guardar el parking", error);
          });
      }

      function eliminarRequest(button) {
        let id = button.getAttribute("data-id");

        fetch("/admin/eliminarRequest/" + id, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((response) => {
          if (response.ok) {
            let successMessage = document.createElement("div");
            successMessage.className = "alert alert-success";
            successMessage.textContent = "Request eliminado con éxito";
            let container = document.querySelector("header + .container-fluid");
            container.prepend(successMessage);

            setTimeout(() => {
              successMessage.remove();
            }, 3000);

            let accordionItem = button.closest(".accordion-item");
            if (accordionItem) {
              accordionItem.remove();
            }
          } else {
            response.text().then((errorMessage) => {
              let error = document.createElement("div");
              error.className = "alert alert-danger";
              error.textContent =
                "Error al eliminar el request: " + errorMessage;
              let container = document.querySelector(
                "header + .container-fluid"
              );
              container.prepend(error);

              setTimeout(() => {
                error.remove();
              }, 300000);
            });
          }
        });
      }
    </script>
    <script th:src="@{/js/mapa-request-add.js}"></script>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
  </body>
</html>
