<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Usuario: Perfil</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <!--
    <main class="flex-shrink-0">
        <div id="books" class="border border-2 border-primary rounded">
            <label for="isbn">ISBN</label><input id="isbn" value="9780140328721" />
            <button id="fetchBook">Buscar datos online</button>
            <img class="preview" id="portada" alt="portada del libro" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postPortada" class="perfilable">Usar como foto de perfil</button>
            </form>
        </div>
        <div id="movies" class="border border-2 border-secondary rounded">
            <label for="imdb">IMDB</label><input id="imdb" value="tt11286314" />
            <button id="fetchMovie">Buscar datos online</button>
            <img class="preview" id="poster" alt="poster de la pelicula" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postPoster" class="perfilable">Usar como foto de perfil</button>
            </form>
        </div>
        <div id="profile" class="border border-2 border-tertiary rounded">
            <input type="file" id="f_avatar" accept="image/jpeg,image/png">
            <img class="preview" id="avatar" alt="careto a subir" />
            <form th:action="@{/user/__${user.id}__/pic}">
                <button id="postAvatar">Usar como foto de perfil</button>
            </form>
        </div>

        <div class="container">
            <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
             recepción de mensajes 
            <div class="py-5 row" id="mensajes">
            </div>
             envío de mensajes 
            <div class="py-5 row ">
                <form th:action="@{/user/__${user.id}__/msg}" method="POST">
                    <input type="text" id="message" placeholder="escribe a este usuario" />
                    <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    -->

    <div class="container text-center">
        <div class="row mt-3">
            <div class="col-4">
                <img src="/img/parkit-dark4.webp" alt="Prueba imagen" width="64" height="64">
            </div>
            <div class="col-8">
                <button class="btn btn-secondary" type="submit">Guardar</button>
            </div>
        </div>
        <div class="row">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <th:block th:if="${u.firstName}">
                        <input type="text" class="form-control" id="validationCustom01" th:value="${u.firstName}" required>
                    </th:block>
                    <th:block th:unless="${u.firstName}">
                        <input type="text" class="form-control" id="validationCustom01" th:value="pepe" required>
                    </th:block>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="validationCustom02" th:value="${u.lastName}" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Username</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">+34</span>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" th:value="${u.username}" required>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom03" class="form-label">Ciudad</label>
                  <input type="text" class="form-control" id="validationCustom03" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="validationCustom04" class="form-label">Comunidad</label>
                  <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Madrid</option>
                    <option>Barcelona</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="validationCustom05" class="form-label">Código Postal</label>
                  <input type="text" class="form-control" id="validationCustom05" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
            </form>
        </div>
      </div>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>