<div th:fragment="helpf" class="container">
    <h1 class="mt-5">Preguntas frecuentes</h1>

    <div class="mt-5">
        <h5 class="mb-5">¿Cómo funciona?</h5>
    </div>

    <div class="mt-5">
        <h5 class="mb-5">¿Está disponible en todas las ciudades?</h5>
    </div>



    <div class="mt-5">
        <h5 class="mb-5">¿Necesito registrarme?</h5>
    </div>

    <div class="mt-5">
        <h5 class="mb-5"><strong>¿Como se actualizan las plazas disponibles?</strong></h5>
    </div>

    <div class="mt-5">
        <h6 class="mb-5">La información proviene de reportes en tiempo real de usuarios, empresas y administradores, además de algoritmos predictivos basados en datos históricos.</h6>
    </div>
    
</div>