<div th:fragment="find-park-form">

    <form th:action="@{/user/map}" method="GET">

        <h1 class="mt-5">Encuentra tu plaza de aparcamiento con ParkIT</h1>

        <div class="container-flex row">
            <label for="destino" class="form-label">Introduce destino </label>
            <div id="buscador"></div>
            <small id="destinoId" class="form-text text-muted">
                Buscaremos los aparcamientos disponibles mas cercanos al destino introducido
            </small>
        </div>

        <input type="hidden" name="latitude" id="latitude" th:value="${latitude}">
        <input type="hidden" name="longitude" id="longitude" th:value="${longitude}">

        <div class="row mb-3">

            <div class="col">
                <label for="startDate" class="form-label">Fecha de entrada</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="startDate" id="startDate"
                        aria-describedby="startDateId" th:value="${startDate}" required/>
                </div>
            </div>

            <div class="col">
                <label for="startTime" class="form-label">Hora de entrada</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="startTime" id="startTime"
                        aria-describedby="startTimeId" th:value="${startTime}" required/>
                </div>
            </div>

        </div>

        <div class="row mb-3">

            <div class="col">
                <label for="endDate" class="form-label">Fecha de salida</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="endDate" id="endDate" aria-describedby="endDateId"
                        th:value="${endDate}" required/>
                </div>
            </div>

            <div class="col">
                <label for="endTime" class="form-label">Hora de salida</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="endTime" id="endTime" aria-describedby="endTimeId"
                        th:value="${endTime}" required/>
                </div>
            </div>

        </div>

        <div class="row mb-3">

            <div class="col">
                <label for="customRange3" class="form-label">Rango de busqueda</label>
                <span id="rangeValue" th:text="${radius}"></span> metros
                <input type="range" class="form-range" name="radius" min="250" max="10000" step="250" id="customRange3" th:value="${radius}">
            </div>
            
        </div>

        <div class="row mt-3">

            <div class="col-2">
                <button type="button" class="btn btn-lg btn-outline-dark w-100" onclick="fillForm()">Rellenar</button>
            </div>
            <script>
                function fillForm() {
                    const now = new Date();
                    const startDate = now.toISOString().split('T')[0];
                    const startTime = now.toTimeString().split(':').slice(0, 2).join(':');
                    
                    now.setMinutes(now.getMinutes() + 30); // Add 30 minutes
                    const startDatePlus30 = now.toISOString().split('T')[0];
                    const startTimePlus30 = now.toTimeString().split(':').slice(0, 2).join(':');
                    
                    now.setHours(now.getHours() + 2); // Add 2 hours
                    const endDate = now.toISOString().split('T')[0];
                    const endTime = now.toTimeString().split(':').slice(0, 2).join(':');

                    document.getElementById('startDate').value = startDatePlus30;
                    document.getElementById('startTime').value = startTimePlus30;
                    document.getElementById('endDate').value = endDate;
                    document.getElementById('endTime').value = endTime;
                }
            </script>

            <div class="col-5">
                <button type="submit" class="btn btn-lg btn-outline-dark w-100">Buscar</button>
            </div>

            <div class="col-5">
                <button type="reset" class="btn btn-lg btn-outline-dark w-100">Borrar datos</button>
            </div>

        </div>

    </form>

</div>