
<div th:fragment="findParkForm(address)">
    <form th:action="@{/user/map}" method = "GET"> 
        <h1 class="mt-5">Encuentra tu plaza de aparcamiento con ParkIT</h1>
        <div class="mb-3">
            <label for="destino" class="form-label">Introduce destino </label>
            <div class="input-group">

                <button class="btn btn-outline-secondary" type="button" id="geocoder-container">
                    
                </button>
            </div>
            <small id="destinoId" class="form-text text-muted">Buscaremos los aparcamientos disponibles mas cercanos al destino introducido</small>
        </div>
        <div class="row">
            <div class="col">
                <label for="dia" class="form-label">Introduce tu destino</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="address" id="address" aria-describedby="destinoId"
                        placeholder="Busca aquí..." th:value="${address}" />
                </div>
            </div>

        <!-- </div>
        <div class="row">
            <div class="col-4">
                <label for="dia" class="form-label">Día:</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="dia" id="dia" aria-describedby="diaId"
                        placeholder="" />
                </div>
            </div>

            <div class="col-4">
                <label for="horario-llegada" class="form-label">Horario de llegada:</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="horario-llegada" id="horario-llegada"
                        aria-describedby="horario-aperturaId" placeholder="" />
                </div>
            </div>

            <div class="col-4">
                <label for="hora-salida" class="form-label">Hora de salida:</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="hora-salida" id="hora-salida"
                        aria-describedby="hora-salidaId" placeholder="" />
                </div>
            </div>
        </div> -->

        <div class="row mt-5">
            <div class="col-6">
                <button type="submit" class="btn btn-lg btn-outline-dark w-100">Buscar</button>
            </div>
            <div class="col-6">
                <button type="reset" class="btn btn-lg btn-outline-dark w-100">Borrar datos</button>
            </div>
        </div>
    </form>
</div>