<div th:fragment="findParkForm">
    <div class="row">
        <div class="col-4">
            <label for="dia" class="form-label">Día:</label>
            <div class="input-group">
                <input type="date" class="form-control" name="dia" id="dia" aria-describedby="diaId"
                    placeholder="" />
            </div>
        </div>

        <div class="col-4">
            <label for="horario-llegada" class="form-label">Horario de llegada:</label>
            <div class="input-group">
                <input type="time" class="form-control" name="horario-llegada" id="horario-llegada"
                    aria-describedby="horario-aperturaId" placeholder="" />
            </div>
        </div>

        <div class="col-4">
            <label for="hora-salida" class="form-label">Hora de salida:</label>
            <div class="input-group">
                <input type="time" class="form-control" name="hora-salida" id="hora-salida"
                    aria-describedby="hora-salidaId" placeholder="" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                <!-- <button type="button" class="btn btn-lg btn-outline-dark w-100">Buscar</button> -->
                <a href="/user/map" class="btn btn-lg btn-outline-dark w-100">Buscar</a>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-lg btn-outline-dark w-100">Borrar datos</button>
            </div>
        </div>
    </div>

</div>