<div th:fragment="find-park-form">
    <form th:action="@{/user/map}" method="GET">
        <h1 class="mt-5">Encuentra tu plaza de aparcamiento con ParkIT</h1>
        <div class="container-flex row">
            <!-- <button class="btn btn-outline-secondary" type="button" id="geocoder-container"></button> -->
            <label for="destino" class="form-label">Introduce destino </label>
            <div id="buscador"></div>
            <small id="destinoId" class="form-text text-muted">Buscaremos los aparcamientos disponibles mas cercanos al
                destino introducido</small>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col">
                <label for="address" class="form-label">Introduce tu destino</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="address" id="address" aria-describedby="destinoId"
                        placeholder="Busca aquí..." th:value="${address}" />
                </div>
            </div>

            <div class="col">
                <label for="latitude" class="form-label">Latitud</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="latitude" id="latitude" aria-describedby="latitudeId"
                        placeholder="" th:value="${latitude}" />
                </div>
            </div>

            <div class="col">
                <label for="longitude" class="form-label">Longitud</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="longitude" id="longitude" aria-describedby="longitudeId"
                        placeholder="" th:value="${longitude}"/>
                </div>
            </div>

            <div class="col">
                <label for="range" class="form-label">Rango</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="range" id="range" aria-describedby="rangeId"
                        placeholder="" th:value="${range}"/>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="startDate" class="form-label">Fecha de entrada</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="startDate" id="startDate"
                        aria-describedby="startDateId" th:value="${startDate}" />
                </div>
            </div>

            <div class="col">
                <label for="startTime" class="form-label">Hora de entrada</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="startTime" id="startTime"
                        aria-describedby="startTimeId" th:value="${startTime}" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="endDate" class="form-label">Fecha de salida</label>
                <div class="input-group">
                    <input type="date" class="form-control" name="endDate" id="endDate" aria-describedby="endDateId"
                        th:value="${endDate}" />
                </div>
            </div>
            <div class="col">
                <label for="endTime" class="form-label">Hora de salida</label>
                <div class="input-group">
                    <input type="time" class="form-control" name="endTime" id="endTime" aria-describedby="endTimeId"
                        th:value="${endTime}" />
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6">
                <button type="submit" class="btn btn-lg btn-outline-dark w-100">Buscar</button>
            </div>
            <div class="col-6">
                <button type="reset" class="btn btn-lg btn-outline-dark w-100">Borrar datos</button>
            </div>
        </div>
    </form>
</div>