<th:block th:fragment="head">
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

</th:block>
<!-- fragmento footer con parametro parkins-->
<th:block th:fragment="mapa">
    <!-- pasamos los parkings a la variable parkings para que jp.js pueda acceder a ellos -->
    <script th:inline="javascript">
        var parkings = /*[[${parkings}]]*/[];
        var lat = /*[[${lat}]]*/ null;
        var lon = /*[[${lon}]]*/ null;
        var rad = /*[[${radius}]]*/ null;    
    </script>
    <!-- despues de cargar los parkings, cargamos el js -->
    <script th:src="@{/js/mapaLeaflet.js}"></script>
</th:block>