<th:block th:fragment="head">
    <!-- Leaflet CSS -->
    <!-- <link rel="stylesheet" href="css/leaflet.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Leaflet Control Geocoder CSS -->
    <!-- <link rel="stylesheet" href="css/Control.Geocoder.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        #map {
            width: 100%;
            height: 500px;
            margin-bottom: 20px;
        }

        #geocoder-container {
            margin-bottom: 15px;
        }
    </style>

</th:block>
<!-- fragmento footer con parametro parkins-->
<th:block th:fragment="mapa">
    <!-- Leaflet JS -->
    <!-- <script th:src="@{/js/leaflet.js}"></script> -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Leaflet Control Geocoder JS -->
    <!-- <script th:src="@{/js/Control.Geocoder.js}"></script> -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- pasamos los parkings a la variable parkings para que jp.js pueda acceder a ellos -->
    <script th:inline="javascript">
        var parkings = /*[[${parkings}]]*/[];
        var lat = /*[[${lat}]]*/ null;
        var lon = /*[[${lon}]]*/ null;
        var rad = /*[[${radius}]]*/ null;    
    </script>
    <!-- despues de cargar los parkings, cargamos el js -->
    <script th:src="@{/js/mapaLeaflet.js}"></script>
</th:block>