<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment='ps-card'>
            <div class="card mb-3 col col-12" style="max-width: 940px;" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <img 
                        src="/img/mapa2.jpg"
                        class="img-fluid rounded-start pt-3"
                        alt="Plaza de Parking 1"
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Plaza de Parking 1</h5>
                            <p class="card-text">
                                <h6>Detalles</h6>
                                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus dolor nesciunt eos molestiae dicta ducimus maiores nisi iusto nulla unde ipsa tempora quasi consectetur, pariatur veniam quam voluptatibus sapiente fugiat.</span>
                                <br>
                                <br>
                                <h6>Caracteristicas</h6>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates recusandae temporibus inventore explicabo delectus nulla, nesciunt dicta. Aperiam omnis ab quisquam at sed quia, nisi eius dolorem! Distinctio, cum provident.</span>
                                
                                <br>
                                <br>
                                <th:block th:replace="~{fragments/puntuaciones.html :: punt-form}"></th:block>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            
    </th:block>
</html>