<div th:fragment="parkings-table">
    
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Calle</th>
            <th>Precio/Hora</th>
            <th>Plazas libres</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        <tr th:each="parking : ${parkings}">
            <th th:text="${parking.name}">Nombre</th>
            <th th:text ="${parking.address}">Calle</th>
            <th th:text="${parking.feePerHour}">Precio/Hora</th>
            <th> 0 </th>
            <th>
                <a th:href="@{/user/reserve/{id}(id=${parking.id}, startDate=${startDate}, endDate=${endDate}, startTime=${startTime}, endTime=${endTime})}" class="btn btn-primary">Reservar</a>
            </th>
        
        </tbody>
    </table>
</div>
