/* usa este fichero para personalizar tus vistas */

.iwthumb {
  height: 32px;
  width: 32px;
}

.errTable tr>td:first-child {
  min-width: 200px;
  max-width: 200px;
  word-break: break-all;
  font-weight: bold;
  color: gray;
}

.errTable td {
  vertical-align: top;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

img.preview {
  object-fit: cover;
  width: 10%;
  height: 100px;
  border-radius: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #38b6ff;
  text-decoration: underline;
}

#fila1 {
  border-style: double;
  /* background-color: rgb(130, 139, 149); */
}



.punt {
  font-size: 20px;
  color: rgb(255, 208, 0);
}

input[type="radio"] {
  display: none;
}


.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
  color: #38b6ff;
}

.mapa-reserva {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

#mapa {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

#errorMsg {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.body-select-parking {
  background-color: #2c3e50;
  color: white;
}

.parking-container {
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.parking-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.slot {
  width: 80px;
  height: 150px;
  border: 2px dashed white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #27ae60;
  cursor: pointer;
}

.occupied {
  background-color: #e74c3c;
  pointer-events: none;
}

.selected {
  background-color: #f1c40f !important;
}


/* estilos para mapa del indice */
#map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

#buscador-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

/* Input de búsqueda */
.leaflet-control-geocoder {
  width: 100% !important;
  display: block !important;
  font-size: 16px !important;
  border-color: white !important;
  border: none !important;
  outline: none !important;
  padding: 10px !important;
  border-radius: 5px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-control-geocoder-form {
  width: 95% !important;
}

.leaflet-control-geocoder-form input {
  width: 100% !important;
  display: block !important;
  border: none !important;
  outline: none !important;
}

.leaflet-control-geocoder-icon {
  background: url('https://upload.wikimedia.org/wikipedia/commons/4/4e/Magnifying_glass_icon.svg') no-repeat center;
  background-size: contain;
  width: 5% !important;
  height: 30px;
  border: none;
  cursor: pointer;
}

.leaflet-control-geocoder-results {
  width: 100% !important;
}

.leaflet-control-geocoder-result {
  width: 100% !important;
}

.estado-pendiente {
  color: gray;
}

.estado-aceptado {
  color: green;
}

.estado-rechazado {
  color: red;
}

.noti-style {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 400px;
  text-align: center;
  display: none;
}

.notification {
  background-color: #d1e7dd;
  color: #0f5132;
  border: 1px solid #badbcc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 5s;
}

/* Animación de entrada y salida */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

}

/* Estilo general de la card */
.custom-card {
  border: none;
  /* Sin borde por defecto */
  border-radius: 10px;
  /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  background-color: #fff;
  /* Fondo blanco */
  border-left: 4px solid #38b6ff;
  /* Borde azul a la izquierda */
}



/* Estilo del cuerpo de la card */
.custom-card-body {
  padding: 1rem;
  /* Espaciado interno */
}

/* Alinear el contenido a la izquierda y quitar márgenes innecesarios */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  flex-direction: row;
  /* Alinear verticalmente el texto */
  align-items: flex-start;
  /* Alinear a la izquierda */
}

/* Estilo del texto de la etiqueta (por ejemplo, "NÚMERO DE PARKINGS") */
.card-title.text-xs {
  font-size: 0.75rem;
  /* Tamaño pequeño */
  line-height: 1.2;
  /* Altura de línea ajustada */
}

.card-title.text-primary {
  color: #38b6ff !important;
  /* Color azul para el texto */
}

.card-title.text-uppercase {
  text-transform: uppercase !important;
  /* Texto en mayúsculas */
}

.font-weight-bold {
  font-weight: 700 !important;
  /* Negrita */
}

/* Estilo del valor (por ejemplo, "3") */
.card-value.h5 {
  font-size: 1.5rem;
  /* Tamaño del valor */
  margin-bottom: 0;
  /* Sin margen inferior */
}

.card-value.text-gray-800 {
  color: #3a3b45 !important;
  /* Color gris oscuro para el valor */
}


/* Asegurar que el texto ocupe todo el espacio */
.col.mr-2 {
  margin-right: 0;
  /* Sin margen derecho */
  width: 100%;
  /* Ocupar todo el ancho */
}

.col-auto i {
  font-size: 1.5rem;
  /* Tamaño del ícono en función del rem */
}

/* Colores personalizados para los íconos */
.fas {
  color: #858796;
}

@media (max-width: 550px) {

  i.fas {
    display: none;
    /* Ocultar íconos en pantallas pequeñas */
  }
}

.navbar-dark .nav-link,
.navbar-dark .dropdown-item,
.navbar-dark .btn:not(.btn-outline-danger),
.text-bg-dark .nav-link,
.text-bg-dark .dropdown-item,
.text-bg-dark .btn:not(.btn-outline-danger) {
  transition: color 0.3s ease-in-out;
  /*Transición suave */
}

.navbar-dark .nav-link:hover,
.navbar-dark .dropdown-item:hover,
.navbar-dark .btn:not(.btn-outline-danger):hover,
.text-bg-dark .nav-link:hover,
.text-bg-dark .dropdown-item:hover,
.text-bg-dark .btn:not(.btn-outline-danger):hover {
  color: #38b6ff;
  /* Color azul al pasar el ratón */
}

/*INICIAR SESIÓN Y REGISTRARSE*/

/*Efecto escogido de https://animista.net/play/basic/shadow-pop*/
.shadow-inset-center:hover {
  -webkit-animation: shadow-inset-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-inset-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-15 13:51:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 #38b6ff;
    box-shadow: inset 0 0 0 0 #38b6ff;
  }

  100% {
    -webkit-box-shadow: inset 0 0 14px 0px #38b6ff;
    box-shadow: inset 0 0 14px 0px #38b6ff;
  }
}

@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 #38b6ff;
    box-shadow: inset 0 0 0 0 #38b6ff;
  }

  100% {
    -webkit-box-shadow: inset 0 0 14px 0px #38b6ff;
    box-shadow: inset 0 0 14px 0px #38b6ff;
  }
}

.boton-parkings{
  background-color: #38b6ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
