<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head.html :: header}" />
    <title>Plazas del Parking</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container-fluid row pt-3">
        <div th:if="${success}">
            <div class="alert alert-success">
                <p th:text="${success}"></p>
            </div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5">
        <h2>Plazas del parking: <span th:text="${parking.name}">Nombre del Parking</span></h2>
        <p><strong>Dirección:</strong> <span th:text="${parking.address}">Dirección</span></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Número de plaza</th>
                    <th>Libre</th>
                    <th>Tamaño</th>
                    <th>Orientación</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="spot : ${spots}">
                    <td th:text="${spot.id}">1</td>
                    <td th:text="${spot.enabled ? 'Sí' : 'No'}">Sí</td>
                    <td th:text="${spot.size}">M</td>
                    <td th:text="${spot.horizontal ? 'Horizontal' : 'Vertical'}">Horizontal</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary m-1" th:href="@{/enterprise/enterprise-parkings}">Volver a mis parkings</a>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>